/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
}
.main-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.header-container {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  z-index: 2;
  align-items: center;
  display: flex;
  justify-content: center;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.header-container .btn {
  color: #247291;
  background: #F7D95B;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0 10px;
}
@media (max-width:660px) {
  .header-container .btn {
    padding: 0.2rem 0.7rem;
    margin: 0.7rem;
    font-size: 75%;
  }
}
.header-container .buttons {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}
@media (max-width:660px) {
  .header-container .buttons {
    width: 40%;
  }
}
.header-container .btn:hover {
  background: white;
}
.header-container .signUp-btn {
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) 3 both;
}
@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}
.header-container .links {
  justify-content: center;
  width: 45%;
}
@media (max-width:660px) {
  .header-container .links {
    display: none;
  }
}
.header-container a {
  text-decoration: none;
  color: #F7D95B;
  text-transform: uppercase;
  padding: 0 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.header-container .fa-bars {
  display: none;
  font-size: 2rem;
  color: black;
}
.footer-container {
  width: 100%;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: #247291;
}
li {
  margin: 20px;
  font-size: 1.5rem;
  padding: 0 2%;
}
ul {
  margin: 10px;
}
p {
  font-size: 1.2rem;
}
section {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.5rem;
}
@media (max-width:800px) {
  .main-content {
    width: 100%;
  }
}
.hero-image {
  background-image: url(/Assets/images/header_large.jpeg );
  background-color: black;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text {
  text-align: center;
  height: auto;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.logo-large {
  width: 80%;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.mission {
  margin: 5% 5%;
  text-align: center;
}
.intro-section {
  margin: 5% 5%;
  text-align: center;
}
.images {
  display: flex;
  width: 100%;
  justify-content: center;
}
.images img {
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 2%;
}
@media (max-width:800px) {
  .images {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
}
.top-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
@media (max-width:800px) {
  .top-cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-content: center;
  }
}
.tour-cards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  display: none;
}
@media (max-width:800px) {
  .tour-cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-content: center;
  }
}
.card {
  border-radius: 5px;
  width: 24.5%;
  height: auto;
  margin: 5%;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
@media (max-width:800px) {
  .card {
    width: 100%;
    margin-top: 5px 20px;
    height: 300px;
  }
}
.guide-card:hover i {
  color: #F7D95B;
}
.tour-card:hover i {
  color: #F7D95B;
}
.big-card {
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 2% 10%;
}
.big-card h2 {
  text-align: center;
}
@media (max-width:660px) {
  .big-card {
    height: 550px;
    margin: 1% 5%;
  }
}
.page-break {
  background: #247291;
  width: 100%;
  height: 0.3rem;
}
i {
  color: #247291;
  margin: 20px 0;
  font-size: 60px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.bottom-card h2 {
  text-decoration: underline;
}
.big-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button {
  color: #247291;
  background: #F7D95B;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 15px;
  font-size: 1.4rem;
  border: none;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 1.5rem;
}
.bottom-sign-up {
  margin-top: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.fa-location-arrow {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
.BeforeScroll {
  height: 100px;
  width: 100%;
  display: none;
}
.AfterScroll {
  height: auto;
  width: 100%;
  animation: slide-in-fwd-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
}
@keyframes slide-in-fwd-left {
  0% {
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.upper-content {
  text-align: center;
  margin: 5%;
}
.upper-content h1 {
  font-size: 3rem;
}
.main-content-about {
  margin-top: 80px;
}
.main-content-about .name-card {
  width: 24.5%;
  height: auto;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-content-about .name-card h2 {
  margin-top: 10px;
}
.main-content-about .top-one {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.main-content-about .bottom-two {
  display: flex;
  justify-content: center;
}
.team-img {
  border-radius: 200px;
  height: 250px;
  width: 250px;
  margin: 5%;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  animation: roll-in-left 1s ease-out both;
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.fa-github {
  color: #247291;
  font-size: 1.5rem;
}
.info {
  display: none;
}
.fa-bars {
  margin-left: 5%;
  font-size: 2rem;
}
.menu {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 200px;
  height: auto;
  background-color: #247291;
  border: 1px solid #F7D95B;
  border-left: none;
  border-bottom: none;
  z-index: 2;
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}
.menu--open {
  display: block;
}
