

.upper-content {
    text-align: center;
    margin: 5%;

    h1 {
        font-size: 3rem;

    }
}

.main-content-about {
    margin-top: 80px;
    display: flex;
    flex-direction: row;

    .name-card {

        width: 24.5%;
        height: auto;
        margin: 20px;
        text-align: center;
        display: flex;
        flex-direction:row;
        justify-content: center;
        
      

        h2 {
            margin-top: 10px;
        }
    }

        @media @tablet {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }
    
}

.team-img {
    border-radius: 200px;
    height: 250px;
    width: 250px;
    margin: 5%;
    box-shadow: 1px 1px 2px 3px rgb(14, 7, 7);

    animation: bounce-in-fwd 1.1s both;

}



@keyframes bounce-in-fwd {
    0% {
      transform: scale(0);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: scale(1);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: scale(0.7);
      animation-timing-function: ease-in;
    }
    72% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    81% {
      transform: scale(0.84);
      animation-timing-function: ease-in;
    }
    89% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    95% {
      transform: scale(0.95);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  

.fa-github {
    color: @wanderlust-color-primary;
    font-size: 1.5rem;
}

.info {

    margin-top: 1rem;
    display: block;

}

.info-open {

    visibility: hidden;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}


.page-break-about {
    background: @wanderlust-color-primary;
    width: 100%;
    height: .3rem;
    margin-top: 40px;
}