.main-content-about{
    margin-top: 80px;
    .name-card{
    border: 1px solid black;
    width: 24.5%;
    height: 400px;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
        h2{
            margin-top: 10px;
        }
    }
    .top-one{
        
        display: flex;
        justify-content: center;
    }
    .bottom-two{
        display: flex;
        justify-content: center;
       
    }
}