.bigbutton() {color: @wanderlust-color-primary;
background:@wanderlust-color-secondary;
text-transform: uppercase;
padding: 1rem 2rem;
border-radius: 15px;
font-size: 1.4rem;
border: none;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
margin: 1.5rem;
}

.smallCards(){
border-radius: 5px;
width: 24.5%;
height: auto;;
margin: 5%;
justify-content: center;
text-align: center;
display: flex;
flex-direction: column;
align-content: flex-end;
}

